<header>
  <a href="/">
    <h1>socialsphere</h1>
  </a>
  <nav>
    <a href="">home</a>

    <a href="/about">about</a>
    <a href="/profile">profile</a>
    <a href="/sign">log in/sign up</a>
  </nav>
</header>
